footer{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    .sobre{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        gap: 20px;
        margin-top: 20px;
        article{
            width: 45%; 
        }
        div{
            iframe{
                margin: 10px;
                width: 100%;
                max-width: 400px; 
            }
        }
        div{
            h3{    
                color: red;
                margin-bottom: 5px;
            }
            img{    
                width: 20px;
                height: 20px;
            }
        }
    }
}